{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h2>Agenda</h2>
    </div>
    {% if upcoming_events %}
    <table class="table">
        <thead>
        <th>Lugar</th>
        <th>Fecha</th>
        </thead>
        <tbody>
        {% for event in upcoming_events %}
        <tr>
            <td><a href="/agenda/{{ event.id }}/">{{ event.description }}</a></td>
            <td><a href="/agenda/{{ event.id }}/">{{ event.date }}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>Sorry, nobody wants Kinesic to play live! :( </h2>
    {% endif %}
</div>
{% endblock content %}