{% load staticfiles %}{% spaceless %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/material.css' %}">

    <!-- Material Design for Bootstrap -->
    <link href="{% static 'css/roboto.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/material-fullpalette.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ripples.min.css' %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="{% static 'css/mfb.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/kinesic.css' %}">
    <title>Kinesic - Official site</title>
    <link rel="icon" type="image/jpg" href="{% static 'img/favicon.jpg' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% endspaceless %}
<body>

<div class="navbar  navbar-fixed-top navbar-material-grey-800">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Kinesic</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/bio/">Bio</a></li>
                <li><a href="/agenda/">Agenda</a></li>
            </ul>
       
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Más Kinesic en... <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/kinesic.band">Facebook</a></li>
                        <li><a href="https://www.youtube.com/channel/UCqPJ76Cr2z-AHDpaKNH6NkQ">Youtube</a></li>
                        <li><a href="https://twitter.com/kinesicmusic">Twitter</a></li>
                        <li class="divider"></li>
                        <li><a href="https://soundcloud.com/kinesicband">Soundcloud</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>

{% block content %} {% endblock %}

<ul class="mfb-component--br mfb-slidein" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="#" data-mfb-label="Share!" class="mfb-component__button--main">
            <!-- the main button icon visibile by default -->
            <i class="mfb-component__main-icon--resting mdi-social-share"></i>
            <!-- the main button icon visibile when the user is hovering/interacting with the menu -->
            <i class="mfb-component__main-icon--active mdi-social-mood"></i>

        </a>

        <ul class="mfb-component__list">
                <li><a href="https://www.facebook.com/kinesic.band" 
                       data-mfb-label="Facebook"  class="mfb-component__button--child">
                    <i class="mfb-component__child-icon fa fa-facebook"></i>
                </a></li>
                <li><a href="https://www.youtube.com/channel/UCqPJ76Cr2z-AHDpaKNH6NkQ" 
                       data-mfb-label="YouTube"  class="mfb-component__button--child">
                    <i class="mfb-component__child-icon fa fa-youtube"></i>
                </a></li>
                <li><a href="https://twitter.com/kinesicmusic" 
                       data-mfb-label="Twitter" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon fa fa-twitter"></i>
                </a></li>
                <li><a href="https://soundcloud.com/kinesicband" 
                       data-mfb-label="Soundcloud" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon fa fa-soundcloud"></i>
                </a></li>
            </ul>
    </li>
</ul>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mfb.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/material.js' %}" ></script>
<script type="text/javascript">
    $.material.init();
</script>
</body>
</html>




