{% load staticfiles %}
<!-- HEADER -->
<footer id="footer" class="footer-transparent footer-dark footer-navigation-light kinesic-header">
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                For the Nth Time </br>

                Kinesic, todos los derechos reservados ©.
            </div>
            <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-5">

                <a href="https://www.facebook.com/kinesic.band" target="_blank">
                    <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                </a>
                <a href="https://open.spotify.com/artist/2NgMELEX8VZ3JqyrQt5e3v" target="_blank">
                    <i id="social-sp" class="fa fa-spotify fa-3x social"></i>
                </a>
                <a href="https://twitter.com/kinesicmusic" target="_blank">
                    <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCqPJ76Cr2z-AHDpaKNH6NkQ" target="_blank">
                    <i id="social-yt" class="fa fa-youtube-square fa-3x social"></i>
                </a>
            </div>

        </div>
    </div>
</footer>
<!-- END: HEADER -->