{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <section class="kinesic-section-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 kinesic-col-header">
                    <img class="img img-responsive" src="{% static 'core/images/kinesic-header.jpg' %}">
                </div>
            </div>
        </div>
    </section>

    <section class="p-b-10" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>

{% endblock content %}