{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div class="row">
        <section class="kinesic-section-header">
            <div class="row">
                <div class="col-xs-12 kinesic-col-header">
                    <img class="img img-responsive" src="{% static 'core/images/kinesic-header.jpg' %}">
                </div>
            </div>
        </section>

        <div class="kinesic-separator"></div>

        <section class="p-b-10 kinesic-section-bio">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <h1>Bio</h1>
                    <p>
                        Kinesic is an alternative rock band coming from Málaga (Spain). Since 2012, Kinesic
                        has always been specialised on achieving the exact balance between a powerful sound and
                        hypnotising ambience sections. The spirit of the band is to bring fresh and original ideas
                        to the progressive rock scene, with songs crafted by musicians that share one concept: a whole
                        life dedicated to do exactly this.
                    </p>
                </div>
                <div class="col-xs-5">
                    <img class="img img-responsive img-rounded" src="{% static 'core/images/kinesic-lineup.jpg' %}">
                </div>
            </div>
        </section>
    </div>
{% endblock content %}