/* Add your custom css styles */
body, h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, p, p.lead {
    font-family: "dinregular",Helvetica,Arial,sans-serif!important;
}

h1 {
    color:white;
    border-bottom: 2px solid white;
}

.kinesic-header {
    background-color: black!important;
}

.kinesic-col-header {
    padding-left: 0;
    padding-right: 0;
}

.kinesic-section-header {
    padding: 0;
}

.kinesic-section-bio {
    background-color: black;
    padding-top: 80px;
}

#header.header-sticky #header-wrap {
    background-color: black;
}

#header.header-dark.header-sticky.header-navigation-light .main-menu > ul > li > a {
    color: white;
}

#header.header-dark.header-navigation-light .nav-main-menu-responsive > button {
    color: white;
}

#header.header-dark.header-navigation-light .main-menu > ul > li > a {
    color: white;
}


#social-fb:hover {
 color: #3B5998;
}
#social-tw:hover {
 color: #4099FF;
}
#social-gp:hover {
 color: #d34836;
}
#social-em:hover {
 color: #f39c12;
}